In [4]:
filePath = '/home/kongweikun/PycharmProjects/Data_Mining/data/water/water.xls'

In [2]:
import pandas as pd
import numpy as np
%matplotlib inline

In [5]:
df_data = pd.read_excel(filePath)

In [6]:
df_data.head()

                   时间   原水PH     原水浊度  3号沉淀池出水浊度  4号沉淀池出水浊度   取水量   供水量  PAC耗
0 2013-08-08 00:00:00  7.077   10.978      0.845      0.747  9541  7860   NaN
1 2013-08-08 01:00:00  7.075    7.674      0.884      0.772  9539  7050   NaN
2 2013-08-08 02:00:00  7.079  261.624      0.923      0.867  8996  6110   NaN
3 2013-08-08 03:00:00  7.069    7.884      0.681      0.657  5677  5680   NaN
4 2013-08-08 04:00:00  7.067    7.759      0.474      0.498  5616  5950   NaN

In [7]:
df_data.describe()

,原水PH,原水浊度,3号沉淀池出水浊度,4号沉淀池出水浊度,取水量,供水量,PAC耗
count,9397.000000,9397.000000,9397.000000,9397.000000,9397.000000,9.397000e+03,9111.000000
mean,7.142465,44.567518,0.956624,1.032731,8658.769182,6.136196e+03,33.404184
std,0.177992,78.645867,0.423972,0.436385,3541.419932,1.731055e+05,14.539340
min,6.680000,5.130000,0.290000,0.360000,-21301.000000,-1.677169e+07,0.000000
25%,7.100000,15.810000,0.670000,0.760000,5847.000000,6.650000e+03,25.230000
50%,7.200000,22.660000,0.870000,0.970000,9560.000000,8.223000e+03,30.050000
75%,7.220000,41.130000,1.150000,1.210000,9777.000000,8.986000e+03,34.820000
max,7.560000,868.360000,5.400000,10.000000,188920.000000,1.120130e+05,145.000000